<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyikang.dao.AlarmMapper">

    <!--
    <resultMap id="alrmInfo" type="com.anyikang.model.Alarm">
        <id column="alarmId" property="alarmId" />
        <result column="alarmPower" property="alarmPower" />
        <result column="alarmTime" property="alarmTime" />
    </resultMap>
    -->

    <insert id="addAlarmMessage" parameterType="com.anyikang.model.Alarm">
        INSERT INTO alarm
             (alarm_id,
              location_id,
              alarm_type,
              rescue_type,
              alarm_power,
              alarm_time,
              is_call
              )
        VALUES
			(
			#{alarmId},
			#{locationId},
			#{alarmType},
			#{rescueType},
			#{alarmPower},
			#{alarmTime},
			#{isCall}
			)
    </insert>
    
    <select id="findAlarmByImei"  parameterType="String" resultType="map">
           SELECT
			      a.alarm_id as alarmId
			from  alarm a,device d,location l
			WHERE a.location_id=l.location_id
            and   l.device_id=d.device_id
			and   a.is_call=1
			and   d.imei_code=#{deviceIMEI}
    </select>
    
        <update id="updateRscueType" parameterType="String"> 
            UPDATE
                  alarm a 
            SET   a.is_call=2
            WHERE a.alarm_id=#{alarmId}
    </update>

    <select id="getAllSos" resultType="map">
        SELECT
		      d.device_id  as deviceId,
		      d.imei_code  as deviceIMEI,
		      l.latitude   as latitude, 
              l.longitude  as longitude,
		      a.alarm_id   as alarmId,
		      a.is_call    as isCall,
		      a.alarm_time as alarmTime	      
		FROM  device d,location l,alarm a
		WHERE d.device_id=l.device_id
		AND   l.location_id=a.location_id
		AND   (a.is_call=1 OR a.is_call=2)
    </select>
</mapper>