<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyikang.dao.DeviceMapper">


    <select id="findByDeviceNumber" parameterType="java.lang.String" resultType="com.anyikang.model.vo.RescueDevice">
        select 
	            t1.device_id as deviceId,
				t1.imei_code as deviceIMEI,
				t1.device_name as deviceName,
				t1.device_mobile as deviceMobile,
				t1.power as devicePower,
				t1.status as deviceStatus,
				DATE_FORMAT(t1.online_time,'%Y-%m-%d %H:%i:%s') onlineTime,
				DATE_FORMAT(t1.create_time,'%Y-%m-%d %H:%i:%s') deviceCreateTime,
				t1.bluetooth_status 
         from   device t1 
         where  t1.imei_code=#{deviceIMEI}
    </select>
    
    <select id="findDeviceByImei" parameterType="String" resultType="map">
        SELECT
			t1.deviceId
		FROM
			device t1
		WHERE
			t1.deviceIMEI =#{deviceIMEI}
    </select>
    
    <select id="getAllDevices" resultType="map">
         SELECT 
					t2.device_id as deviceId,
					t1.NAME,
					t1.mobile,
					t1.address,
					t2.imei_code as deviceIMEI,
					t2.online_time as onlineTime,
				    m.locationType,
				    m.latitude,
				    m.longitude,
				    m.locationTime,
					t1.famillyPhones
		   FROM     (SELECT    
		                        CONCAT(o.surname,o.name) as NAME,
							    o.mobile,
							    o.address,
							    o.device_id,
					            GROUP_CONCAT(e.mobile) as famillyPhones
					 FROM       old_man o  
					 LEFT JOIN  emergency e   
					 ON         o.old_man_id=e.old_man_id 
					 GROUP BY   o.old_man_id) t1,device t2
		   LEFT JOIN
				    (SELECT 
								t3.device_id as deviceId,
								t3.location_type as locationType,
								t3.latitude as latitude,
								t3.longitude as longitude,
								t3.location_time as locationTime
				     FROM       location t3,(SELECT MAX(l.location_time) as location_time ,l.device_id FROM location l GROUP BY l.device_id) t2 
				     WHERE      t3.location_time =t2.location_time
					 AND        t3.device_id=t2.device_id) m
			ON       t2.device_id=m.deviceId
			WHERE    t2.device_id=t1.device_id
			ORDER BY m.locationTime DESC
    </select>
       
    <insert id="addDevice" parameterType="com.anyikang.model.vo.RescueDevice" useGeneratedKeys="true" keyProperty="deviceId">
        INSERT INTO device (
			imei_code,
			device_name,
			create_time,
			bluetooth_Status
		)
		VALUES
			(
			#{deviceIMEI},
			#{deviceName},
			#{deviceCreateTime},
			#{bluetoothStatus}
			)
    </insert>

     <select id="findOldManMsg"  parameterType="java.lang.Integer"  resultType="map">
           SELECT  
			        d.imei_code     as deviceIMEI,
			        o.surname       as xing,
			        o.`name`        as ming,
			        o.age           as age,
			        o.sex           as sex,
			        o.address       as address,
			        d.device_mobile as deviceMobile,
			        o.mobile        as phone
			FROM    device d, old_man o        
			WHERE   d.device_id=o.device_id
			AND     o.device_id=#{deviceId}
     </select>
     
       <insert id="addOldMan" parameterType="com.anyikang.model.OldManMsg">
            INSERT INTO  old_man
                    
                     (old_man_id,
                      device_id,
                      surname,
                      name,
                      sex,
                      age,
                      mobile,
                      address,
                      create_time
                      )
            VALUES  (
                     #{oldManId},
                     #{deviceId},
                     #{surname},
                     #{name},
                     #{sex},
                     #{age},
                     #{mobile},
                     #{address},
                     #{createTime}
                    )
     </insert>
     
     <update id="updateOldMan" parameterType="com.anyikang.model.OldManMsg" >
           UPDATE 
                 old_man o
                 
           SET
             <if test="surname!=null">
                 o.surname=#{surname},
             </if>
             <if test="name!=null">
                 o.name=#{name},
             </if>
             <if test="sex!=null">
                 o.sex=#{sex},
             </if>
             <if test="age!=null">  
                 o.age=#{age},
             </if> 
             <if test="mobile!=null">
                 o.mobile=#{mobile},
             </if> 
             <if test="address!=null">
                 o.address=#{address},
             </if>
                 o.create_time=#{createTime}
          WHERE 
                 o.old_man_id=#{oldManId}
     </update>
     
     
     <delete id="deleteOldMan" parameterType="String" >
         DELETE FROM 
               old_man 
         WHERE old_man_id=#{oldManId}
     </delete>
     
     <select id="findDevice" resultType="map">
        SELECT
		       d.imei_code   as deviceIMEI,
		       d.device_name as deviceName,
		       d.create_time as createTime
		 FROM  device d
     </select>
     
     
      <!-- 不在线设备 -->
  <select id="offLine" resultType="map">
        SELECT
		      d.imei_code as deviceIMEI,
		      IFNULL(DATE_FORMAT(d.online_time,'%Y-%m-%d %H:%i:%s'),'无') as onlineTime
		FROM  device d
		WHERE UNIX_TIMESTAMP(SYSDATE())-UNIX_TIMESTAMP(IFNULL(d.online_time, 0))-300>0
		ORDER BY  d.online_time DESC
  </select>
  <!-- 在线设备 -->
   <select id="onLine" resultType="map">
       SELECT
		      d.imei_code as deviceIMEI,
		      IFNULL(DATE_FORMAT(d.online_time,'%Y-%m-%d %H:%i:%s'),"无") as onlineTime
		FROM  device d
		WHERE 0>=UNIX_TIMESTAMP(SYSDATE())-UNIX_TIMESTAMP(d.online_time)-300
		ORDER BY  d.online_time
  </select>
  
   <!-- 查询设备信息 -->
  <select id="queryDevice"  parameterType="String" resultType="com.anyikang.model.vo.LocatorDeviceMessage">
		   SELECT  
	                   d.device_id      AS  deviceId,
			           d.imei_code      AS  deviceImei,
			           CONCAT(o.surname,o.name)  AS  deviceUserName,
			           d.device_mobile  AS  devicePhone,
			           GROUP_CONCAT(e.mobile," ") AS familyPhones
		    FROM       device d
		    LEFT JOIN  old_man o
		    ON         d.device_id=o.device_id
		    LEFT JOIN  emergency e
		    ON         o.old_man_id=e.old_man_id
            <if test="_parameter!=null">
		    WHERE      d.imei_code =#{deviceImei}
		    </if>
		    GROUP BY   d.device_id
  </select>
  
  
  <select id="queryOrbit" resultType="map" parameterType="map" >
		 SELECT  
		        d.imei_code as    deviceIMEI,
		        DATE_FORMAT(l.location_time,'%Y-%m-%d %H:%i:%s') as locationTime,
		        l.location_type as locationType,
		        l.longitude as  locationLongitude,
		        l.latitude  as  locationLatitude

		  FROM  device d,location l
		  WHERE l.device_id=d.device_id
		  and   d.imei_code=#{deviceImei}
		  <if test="startTime!=null">
				and  l.location_time> #{startTime}  
		  </if>
		  <if test="endTime!=null">
				and  #{endTime} > l.location_time  
		  </if>
		  ORDER BY l.location_time 
  </select>
  
   <select id="queryDeviceStatus" resultType="com.anyikang.model.vo.LocatorDeviceStatus" parameterType="String" >
   
	    SELECT          
			  d.imei_code   as deviceIMEI,
			  d.device_mobile as deviceMobile,
	          d.power  as locationPower,
	          (case d.bluetooth_status 
	             when 1 then '蓝牙断开'
	             when 0 then '蓝牙正常连接'
	             end ) as bluetoothStatus
         FROM  device  d
         <if test="_parameter!=null">
	     WHERE d.imei_code=#{deviceIMEI}
         </if>
         ORDER BY d.online_time DESC
  </select>

   <insert id="addEmergency" parameterType="map">
         INSERT INTO emergency
                  ( 
                    emergency_id, 
                    old_man_id,
                    mobile
                   )
          VALUES  ( 
                    #{emergencyId},
                    #{oldManId},
                    #{mobile}
                  )
   </insert> 
     <select id="findBluetoothStatus"  parameterType="String" resultType="java.lang.Integer">
           SELECT
			      d.bluetooth_status as bluetoothStatus
			FROM  device d
			
			WHERE d.imei_code=#{imeiCode}
     </select>
      <update id="updateBluetoothStatus" parameterType="map">
          UPDATE 
			     device d
			SET  d.bluetooth_status=#{bluetoothStatus}
		  WHERE  d.imei_code=#{deviceIMEI}
     </update>
     
     <select id="findOldManMsg"  parameterType="java.lang.Integer"  resultType="map">
           SELECT  
			        d.imei_code    as deviceIMEI,
			        o.surname      as xing,
			        o.`name`       as ming,
			        o.age          as age,
			        o.sex          as sex,
			        o.address      as address,
			        d.device_mobile as deviceMobile,
			        o.mobile       as phone
			FROM    device d, old_man o        
			WHERE   d.device_id=o.device_id
			and     o.device_id=#{deviceId}
     </select>
     <select id="findOldMans" parameterType="String" resultType="map">
            SELECT  
			        d.imei_code   as deviceIMEI,
			        o.old_man_id   as oldManId,
			        o.surname      as surname,
			        o.name         as name,
			        o.age          as age,
			        o.sex          as sex,
			        o.address      as address,
			        o.mobile       as phone,
	                IFNULL(GROUP_CONCAT(e.emergency_id,":",e.mobile),' ') AS familyPhones
			FROM    device d, old_man o
		    LEFT JOIN emergency e
		    ON      o.old_man_id=e.old_man_id       
		    WHERE   d.device_id=o.device_id
		    <if test="_parameter!=null">
			AND     d.imei_code=#{deviceIMEI}
			</if>
		    GROUP BY d.imei_code
     </select>
     <delete id="deleteEmergency" parameterType="String">
          DELETE FROM 
                 emergency 
           WHERE old_man_id=#{oldManId}
     </delete>
     <update id="updateParentPhones" parameterType="map" >
           UPDATE 
                 emergency e
           SET   e.mobile=#{mobile}
           
           WHERE e.emergency_id=#{emergencyId}
     </update>
     <delete id="deleteParentPhones" parameterType="String">
	        DELETE FROM
	               emergency
	        WHERE  emergency_id=#{emergencyId}
     </delete>
     <select id="queryAlarmRecord" parameterType="String" resultType="map">
           SELECT
				     d.imei_code as deviceIMEI,
				     CONCAT(o.surname,o.`name`) as name,
				     a.alarm_addr as  alarmAddress,
				     (CASE a.alarm_type WHEN 2 then '低电报警' WHEN 1 then 'sos报警' WHEN 3 then '蓝牙断开报警' END) as alarm,
				     a.alarm_time,
				     (CASE a.is_call WHEN 1 then '未通知家属救援' WHEN 2 then '已经通知亲人救援' ELSE '无需处理' END) as rescueStatus
			FROM     device d,old_man o,location l,alarm a
			WHERE    d.device_id=o.device_id
			AND      d.device_id=l.device_id
			AND      l.location_id=a.location_id
	        <if test="_parameter!=null">
	        AND      d.imei_code=#{deviceIMEI}
	        </if>
            ORDER BY a.alarm_time DESC
     </select>
     
     <select id="findParentPhones" parameterType="String" resultType="map">
            SELECT
                  e.*
		    FROM  emergency e
		    WHERE e.old_man_id=#{oldManId}
     </select>

</mapper>