<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anyikang.dao.RescueCenterMapper">
 
  
  
  <select id="getAllVolunteerByAddr" parameterType="java.lang.Long" resultType="java.util.HashMap">
         SELECT 
                   h.*,
                   Max(h.locationTimes) as locationTime 
          FROM
				      (SELECT
				          t3.volunteer_id,
				     	  t3.`name`,
					      t3.mobile,
						  t3.sex,
						  t3.image_url,
						  t3.rescue_team_id,
						  t4.longitude,
						  t4.latitude,
						  t4.locationTime as locationTimes
				 
				FROM      admin_user t,rescue_team t2,volunteer t3
				LEFT JOIN volunteer_location t4
				ON        t3.volunteer_id=t4.volunteer_id
				WHERE     t2.rescue_team_id=t3.rescue_team_id
				AND       (t2.rescue_team_id=t.rescue_team_id
				            or t2.rescue_team_id in 
				                    (SELECT  res.rescue_team_id 
				                      from   rescue_team res 
				                      where  res.parent_code=t.rescue_team_id
				                        or   res.parent_code in (
				                                        SELECT res.rescue_team_id 
				                                        from   rescue_team res 
				                                        where  res.parent_code=t.rescue_team_id)))
				AND       DATE_FORMAT(t4.locationTime,'%Y-%m-%d')=DATE_FORMAT(NOW(),'%Y-%m-%d')
				AND       t.user_id=#{userId}
				ORDER BY  t4.locationTime DESC) h
GROUP BY h.volunteer_id
ORDER BY locationTime DESC
    </select>
    
    <select id="getAllTask" resultType="java.util.HashMap">
         SELECT
		           d.deviceIMEI as deviceIMEI,
		           r.addr       as address,
		           r.task_id    as task_id,
		           r.`status`   as status,  
		           r.createTime as createTime,
		           r.receiveTime as receiveTime,    
		           v.userId  as  userId
		       
		FROM      location l,device d,alarm a,rescue_task r
		LEFT JOIN guardian_task vt
		ON        r.task_id=vt.task_id
		LEFT JOIN guardian v
		ON        vt.userId=v.userId
		WHERE     r.alarmId=a.alarmId
		AND       a.locationId=l.locationId
		AND       l.deviceId=d.deviceId 
		AND       DATE_FORMAT(r.createTime,'%Y-%m-%d')=DATE_FORMAT(NOW(),'%Y-%m-%d') 
		ORDER BY  r.`status` 
    </select>
  	<select id="getAllTaskByAddr" resultType="java.util.HashMap">
	   SELECT
		           d.deviceIMEI as deviceIMEI,
		           r.addr       as address,
		           r.task_id    as task_id,
		           r.`status`   as status,  
		           r.createTime as createTime,
		           r.receiveTime as receiveTime,    
		           v.userId  as  userId
		       
		FROM      location l,device d,alarm a,rescue_task r
		LEFT JOIN guardian_task vt
		ON        r.task_id=vt.task_id
		LEFT JOIN guardian v
		ON        vt.userId=v.userId
		WHERE     r.alarmId=a.alarmId
		AND       a.locationId=l.locationId
		AND       l.deviceId=d.deviceId 
		AND       DATE_FORMAT(r.createTime,'%Y-%m-%d')=DATE_FORMAT(NOW(),'%Y-%m-%d')
		AND       r.regionNumber in
	   <foreach collection="array" item="areaids" index="index"
            open="(" close=")" separator=",">
            #{areaids}
       </foreach>  
		ORDER BY r.`status` 
    </select>

  
   <insert id="addRescue" parameterType="com.anyikang.model.RescueCenter">      
     INSERT INTO rescue_center
          (
            rescue_center_id,
            rescue_center_name,
            rescue_charge_name,
            rescue_city_code,
            rescue_parent_code,
            charge_mobile,
            address,
            create_time,
            mark
          )
      VALUES
         ( #{rescueCenterId},
           #{rescueCenterName},
           #{rescueChargeName},
           #{code},
           #{rescueParentCode},
           #{chargeMobile},
           #{address},
           #{createTime},
           #{mark}
          )
  </insert>
  <select id="findByChargeMobile" parameterType="String" resultType="java.lang.Integer">
       SELECT count(*)
       
       FROM  rescue_center
       
       WHERE charge_mobile=#{chargeMobile}
  </select>
  
  <select id="findProvinceCode" resultType="map">
       SELECT
             p.province,
             p.provinceid
       FROM  provinces p
  </select>
   <select id="findCityCode" resultType="map" parameterType="String">
        SELECT
		      c.city,
		      c.cityid
		FROM  cities c
		WHERE c.provinceid=#{provinceId}
  </select>
  <select id="findDistrictCode" resultType="map" parameterType="String">
        SELECT
		      a.areaid,
		      a.area
		FROM  areas a
		
		WHERE a.cityid=#{cityId}
  </select>
  
  <select id="findParent"  resultType="map" parameterType="String">
        SELECT
		      r.rescue_center_id   as rescueCenterId,
		      r.rescue_center_name as rescueCenterName
		      
		FROM  rescue_center r
		
		WHERE r.rescue_city_code=(SELECT a.cityid      FROM  areas  a WHERE  a.areaId=#{code})
		  OR  r.rescue_city_code=(SELECT c.provinceid  FROM  cities c WHERE  c.cityid=#{code})
		  OR  r.rescue_city_code=(SELECT p.countryId  FROM  provinces p WHERE p.provinceid=#{code})
  </select>
  
  <select id="findMainCenter"  resultType="map" parameterType="String">
        SELECT
		      r.rescue_center_id   as rescueCenterId,
		      r.rescue_center_name as rescueCenterName
		      
		FROM  rescue_center r
		
		WHERE r.rescue_city_code=#{mainCode}
  </select>
  <select id="findCityCodeInTeam"  resultType="java.lang.Integer" parameterType="String">
        SELECT
		      COUNT(*)
		FROM  rescue_center r
		
		WHERE r.rescue_city_code=#{code}
  </select>
  
  <delete id="deleteRescueById" parameterType="String">
      DELETE FROM rescue_center
      WHERE  rescue_center_id=#{rescueCenterId}
  </delete>
  <update id="modifyRescue" parameterType="map">
    UPDATE 
            rescue_center
      SET
       <trim  suffixOverrides=",">
         <if test="rescueCenterName!=null">
            rescue_center_name=#{rescueCenterName},
         </if>
         <if test="rescueChargeName!=null">
            rescue_charge_name=#{rescueChargeName},
         </if>
         <if test="rescueParentCode!=null">
            rescue_parent_code=#{rescueParentCode},
         </if>
          <if test="code!=null">
            rescue_city_code=#{code},
         </if>
          <if test="chargeMobile!=null">
            charge_mobile=#{chargeMobile},
         </if>
          <if test="address!=null">
            address=#{address},
         </if>
          <if test="mobile!=null">
            mobile=#{mobile},
         </if>
         <if test="createTime!=null">
            create_time=#{createTime},
         </if> 
         <if test="mark!=null">
            mark=#{mark}
         </if> 
       </trim>     
      WHERE	
            rescue_center_id=#{rescueCenterId}
  </update>
  
  <select id="findRescues" parameterType="String" resultType="com.anyikang.model.RescueCenter">
       SELECT 
            rescue_center_id   as rescueCenterId,
            rescue_center_name as rescueCenterName,
            rescue_charge_name as rescueChargeName,
            rescue_parent_code as rescueParentCode,
            rescue_city_code   as code,
            charge_mobile      as chargeMobile,
            address            as address,
            create_time        as createTime,
            mark               as mark
      FROM  rescue_center
     <if test="_parameter!=null">
      WHERE rescue_center_name=#{rescueCenterName}
     </if>
  </select>
  <select id="findAllRescue" resultType="com.anyikang.model.RescueCenter">
     SELECT 
            rescue_center_id   as rescueCenterId,
            rescue_center_name as rescueCenterName,
            rescue_charge_name as rescueChargeName,
            rescue_parent_code as rescueParentCode,
            rescue_city_code   as code,
            charge_mobile      as chargeMobile,
            address            as address,
            create_time        as createTime,
            mark               as mark
      FROM  rescue_center
  </select>
   <select id="getAllguardian" resultType="map" >
        SELECT
			      g.userId,
			      g.`name`,
			      g.mobile,
			      g.avatar,
			      m.latitude,
			      m.longitude,
			      m.locationTimes as locationTime
		FROM      guardian g
		LEFT JOIN  (
                    SELECT l.*,MAX(l.locationTime) as locationTimes
                     FROM
					      (SELECT   
									 t5.userId as userId,
									 IF(t5.longitude  is null,'',t5.longitude) as  longitude,
									 IF(t5.latitude is null,'',t5.latitude) as latitude,
									 t5.locationTime as locationTime 
					      FROM       guardian_location t5
					      ORDER BY  t5.locationTime DESC) l
                    GROUP BY l.userId) m
       ON       g.userId=m.userId
       ORDER BY m.locationTimes DESC
   </select>
   
   <select id="findUserIdByCityCode" parameterType="java.lang.String" resultType="map">
         SELECT
		        a.user_id as userId
		 FROM   rescue_center r,admin_user a
		
		 WHERE  r.rescue_center_id=a.rescue_center_id
		 AND    r.rescue_city_code=#{cityCode}
   </select>
</mapper>